#myVideo {
    position: fixed;
    z-index: -1;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.navbar {
    width: 100%;
    background-color: black;
    position: static;
    top: 0;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: end;
    gap: 200px;
    margin-right: 480px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: red;
}



